.about-me-bg {
  flex-direction: column;
  background-image: url(.././assets/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  border-bottom-left-radius: 100px;
}

.make-flex {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.title-container {
  margin-top: 120px;
  width: 300px;
  height: auto;
}

.welcome-txt {
  animation-name: scale-txt;
  animation-duration: 1.5s;
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  color: #172b4d;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  margin: 12px 0;
}

@keyframes scale-txt {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.description-bg {
  background-color: transparent;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .about-me-bg {
    background-image: url(.././assets/images/Desktopheaderbg.png);
  }

  .title-container {
    width: 350px;
  }

  .description-bg {
    width: 80%;
  }

  .desktop-aboutme {
    margin-top: 16%;
    margin-left: 15%;
    margin-bottom: 50px;
  }
}

.description {
  animation-name: slide;
  animation-duration: 1.5s;
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #3d4c67;
  font-size: 16px;
  line-height: 24px;
}

@keyframes slide {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
