.about-myself {
  background-color: #fff;
  width: 100%;
  height: 1200px;
  padding: 0 0;
  border-top-right-radius: 100px;
  margin-top: 60px;
}

.aboutmyself-title {
  margin-left: 0;
  margin-top: 114px;
  margin-bottom: 0;
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 15rem;
  color: #172b4d;
}

.aboutmyself-description {
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.aboutmyself-contactme-title {
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 20px;
  margin-top: 0;
}

.aboutmyself-contactme-icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-bottom: 10px;
}

.aboutmyself-card-button {
  margin-top: 10px;
  width: 160px;
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: transparent;
  border: 1.75px solid #396df2;
  border-radius: 8px;
  padding: 10px 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
}

.languages-title {
  margin-top: 20px;
  width: 175px;
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.fa-angle-down {
  font-size: 25px;
  color: rgba(172, 183, 195, 1);
}

.languages-bg {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-container {
  max-width: 303px;
  min-width: 200px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

.adaptive-section {
  min-width: 200px;
}

.last-container {
  margin-bottom: 30px !important;
}

.languages-img {
  width: 48px;
  height: 48px;
  margin-left: 12px;
}

.language-name {
  align-items: center;
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.unselected {
  margin-top: 20px !important;
  box-shadow: 0 1px #dfe1e6;
}

.selected {
  margin-bottom: 36px !important;
}

@media screen and (min-width: 768px) {
  .about-myself {
    height: 800px;
  }

  .desktop-aboutmyself {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 142px;
  }

  .left-section {
    width: 33%;
    margin-right: 50px;
  }

  .right-section {
    width: 70%;
  }

  .languages-bg {
    align-items: flex-start;
    margin-top: 144px;
  }

  .adaptive-section {
    width: 100%;
  }

  .row {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .language-container {
    width: 120px;
    height: 120px;
    min-width: 120px;
    border-radius: 8px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-left: 12px;
  }

  .languages-adaptive {
    flex-direction: row;
    margin: 0 !important;
  }

  .first-container {
    margin-left: 0 !important;
  }

  .unselected-title {
    margin-left: 20px;
  }
}
