.contact-me-title > * {
  font-family: 'Poppins', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.contact-me-icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-bottom: 130px;
}

.connections-bg {
  animation-name: top-slide;
  animation-duration: 1.7s;
}

@keyframes top-slide {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}
