.img{
  position: absolute;
}


.ecllipse1-img {
  width: 105px;
  height: 105px;
  left: 323px;
  top: 152.24px;
}

.ecllipse2-img {
  width: 38.5px;
  height: 19.25px;
  left: 0.04px;
  top: 125.47px;
}

.ecllipse3-img {
  width: 30.1px;
  height: 30.1px;
  left: 290px;
  top: 485.5px;
}

.ecllipse4-img {
  width: 15px;
  height: 15px;
  left: 53px;
  top: 570px;
}

.block1-img {
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 115.79px;
  transform: rotate(-5deg);
}

.block1-img {
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 115.79px;
  transform: rotate(-5deg);
}


.block2-img{
  width: 51.99px;
  height: 9.3px;
  top: 104px;
}

.block3-img{
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
}

.block4-img{
  width: 68.06px;
  height: 12.18px;
  left: 190px;
  top: 580px;
}

.circle1-img{
  width: 11px;
  height: 10px;
  left: 127px;
  top: 161px;
}

.circle2-img{
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
}

.circle3-img{
  width: 11px;
  height: 11px;
  left: 298px;
  top: 315px;
}

.circle4-img{
  width: 24.14px;
  height: 12.07px;
  left: 300px;
  top: 475px;
}

.circle5-img{
  width: 20px;
  height: 20px;
  left: 230px;
  top: 580px;
}


