.img{
  position: absolute;
}


.elllipse1-img {
  width: 105px;
  height: 105px;
  left: 323px;
  top: 152.24px;
}

.elllipse2-img {
  width: 38.5px;
  height: 19.25px;
  left: 0.04px;
  top: 125.47px;
}

.block1-img {
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 115.79px;
  transform: rotate(-5deg);
}

.block1-img {
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 115.79px;
  transform: rotate(-5deg);
}


.block2-img{
  width: 51.99px;
  height: 9.3px;
  top: 104px;
}

.block3-img{
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
}
