body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

li {
  list-style-type: none;
  display:inline-block;
}

.space {
  height: 100px;
}

ul {
  padding: 0;
  margin: 0;
}

.works{
  padding: 0 15px;
}
